$bg-color: #F1E9DA;
$link-text-color: #fff;
$button-bg-1: #541388;
$button-bg-2: #D90368;
$button-bg-3: #104547;
$button-bg-4: #4F000B;
$button-bg-5: #F28123;
$border-radius: 6px;
$overlay-color: #fff;

.sectionSlideContainer{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/imagem_fundo_slides.png) ;
  background-size: cover ;
  background-repeat: no-repeat;
}

.sectionServicesHomeContainer{
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/background-service.png) ;
  background-size: cover ;
  background-repeat: no-repeat;

  div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}